
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    min-height: 100svh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
}

.main-content {
    flex-grow: 1;
    margin: 30px 0;
}

.todo-wrapper {
    margin: 10px;
    padding: 20px;
    border: 2px solid rgba(71, 230, 193, 0.8);
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
    max-width: 400px;
    width: 100%;
}

.todo-wrapper:hover {
    border-color: rgba(65, 25, 156, 0.8);
    transition: .3 easy-in-out;
}

.todo {

}

.todo-header {
    
}

.todo-title {
    margin-top: 5px;
    font-size: 20px;
}

.todo-subtitle {
    margin-top: 10px;
    font-size: 14px;
}

.todo-content {
    margin-top: 10px;
}

.todo-content__description {
    font-size: 16px;
}

.todo-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-author {
    display: flex;
    align-items: center;
    gap: 5px;
}

.todo-author__image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.todo-author__name {
    text-decoration: underline;
}

.todo-date {
    display: flex;
    align-items: center;
}